
<%# form_for helper方法的第一个参数可以是对象，例如 @article %>
<%# form_for 辅助方法会用这个对象的字段来填充表单。 %>
<%= form_for @article do |f| %>

	<% if @article.errors.any? %>
		<div id="error_explanation">
		<h2>
			<%# pluralize 是 Rails 提供的辅助方法，接受一个数字和一个字符串作为参数。如果数字比 1 大，字符串会被自动转换为复数形式。%>
			<%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:
		</h2>
			<ul>
				<% @article.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :text %><br>
		<%= f.text_area :text %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>